*{
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'Open Sans Hebrew Condensed';
    src: url("../font/opensanshebrewcondensed-regular.ttf")
}


body{
    max-width: 100%;
    overflow-x: hidden;
}



/*Dynamic classes for jQuery*/

.hideThanks{
    display: none;
}

.hideAccMenu{
    display: none;  
}

.hideAccStatement{
    display: none;
}


#accStatementBG{
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    background-color:rgba(0, 0, 0, 0.7);
    z-index: 2;
}





  
  
  
  
  